fastapi
uvicorn[standard]
sqlalchemy
alembic
python-jose[cryptography]
pwdlib[bcrypt]
pwdlib[argon2]
python-multipart
transformers
torch
pandas
requests
beautifulsoup4
playwright
python-dotenv
pydantic
pydantic-settings